html {
  background-color: #fdfd96;
  font-family: helvetica, sans-serif;
  color: black;
  text-align: center;
  overflow-y: scroll;
}

a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
  color: white;
  background-color: black;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 10px;
}

#laurence-taylor {
  width: 150px;
  padding: 0 15px;
  float: right;
}

.clearfix {
  overflow: auto;
}

input[type=email] {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

textarea {
  width: 50%;
  height: 100px;
  resize: none;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.form-text {
  background-color: #96cafd;
  padding: 2px;
}
