html {
  background-color: lavenderblush;
  font-family: helvetica, sans-serif;
  color: black;
  text-align: center;
}

a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
  color: gray;
}
