html {
  background-color: lavenderblush;
  font-family: helvetica, sans-serif;
  color: black;
  text-align: center;
  overflow-y: scroll;
}

a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
  color: gray;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 10px;
}
